* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    color: white;
    text-align: center;
}

body {
    margin: 0;
    background-color: #1976D2;
}

.header {
    font-size: 2rem;
    color: white;
    background: #0D47A1;
    text-align: center;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 2rem;


}

#plateau {
    width: 63vh;
    height: 54vh;
    padding: 2rem;
}

#plateau td {
    margin: 10rem;
    padding: 1rem;
    border: .1rem #1976D2 solid;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
#tableau td:hover{
    background-color: #c3d9fc;
}

#plateau td.player1 {
    background-color: #006b07;
}

#plateau td.player2 {
    background-color: #b71C1C;
}

button {
    margin-top: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    border: none;
    color: #0D47A1;
    transition: all .3s ease;
    font-weight: bold;
}
button:hover{
    background-color: #c3d9fc;
    color: #0D47A1;
    transition: all .3s ease;
}