* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  margin: 0;
  background-color: #1976D2;
}

.header {
  font-size: 2rem;
  color: white;
  background: #0D47A1;
  text-align: center;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}

#description {
  font-size: 2rem;
  color: white;
  height: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.square {
  width: 6rem;
  height: 6rem;
  background: white;
  border-radius: 1rem;
  margin: .4rem;
  transition: all .3s ease;
  box-sizing: border-box;
}


.square:hover,
.highlight {
  transition: all .3s ease;
  background: #64B5F6;

}