* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    color: white;
    text-align: center;
    transition: all .3s ease;
}
#counts{
  cursor: default;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
#description{
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1rem;
  transition:all .5s ease;
  cursor: default;
  font-size: 2rem;
  color: white;
  height: 50px;
}

body {
    margin: 0;
    background-color: #1976D2;
}

.header {
    font-size: 2rem;
    color: white;
    background: #0D47A1;
    text-align: center;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;


}

#board {
    width: 63vh;
    height: 54vh;
    padding: 2rem;
}

#board td {
    margin: 10rem;
    padding: 1rem;
    border: .1rem #1976D2 solid;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
}
#tableau td:hover{
    background-color: #c3d9fc;
}

#board td.player1 {
    background-image: url(../4ligne/x.png);
    background-size: contain;
    

}

#board td.player2 {
  background-image: url(../4ligne/o.png);
  background-size: contain;
  
}


ul{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ul li{
    text-decoration: none;
    list-style: none;
    margin: .5rem;
  }
  ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border-radius: .5rem .2rem .5rem .2rem;
  }
  .active, ul li a:hover{
    color: #0D47A1;
    background-color: white;
  
  }
  #restart {
    cursor: pointer;
    padding: .5rem;
    background-color: white;
    border-radius: .5rem;
    border-radius: .5rem .2rem .5rem .2rem;
    font-size: 1.2rem;
    border: none;
    color: #0D47A1;
    transition: all .3s ease;
    font-weight: bold;
  }
  #restart:hover{
    background-color: #c3d9fc;
    color: #0D47A1;
    transition: all .3s ease;
  }